.challenge-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 200px;
  padding: 1vh;
  background-color: white;
  border-radius: 1.5vh;
  margin: 1vw;
  box-shadow: 0 0 8px #ccc;
}

.card-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 1.5vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
}

.challenge-card:hover {
  cursor: pointer;
}

.challenge-card img {
  height: auto;
  width: 100%;
  object-fit: cover;
}