.challenge-card {
  border: 1px solid black;
  display: flex;
  margin: 4vh;
  height: fit-content;
  width: fit-content;
  background-color: #c6dbe7;
}

.card-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: #29465d;
}

.challenge-card:hover {
  cursor: pointer;
  border: 1px solid white;
}