form {
  display: flex;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.prompt-img {
  max-width: 80%;
  height: auto;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 0 0 14px #ccc;
}

.chars-remaining {
  margin-top: 0;
  font-size: 12.5px;
}

.challenge-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  border: 2px solid #2D8CFF;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0 0 14px #ccc;
}

.challenge-header-container {
  display: flex;
  flex-direction: column;
}

.challenge-header {
  align-self: center;
}

.prompt-container {
  height: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-icon {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-right: 4px;
  align-self: flex-end;
}

.info-icon {
  cursor: pointer;
}

.verb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 54vh;
}

input {
  margin-top: 10px;
}

.submit-button-container {
  align-self: center;
  margin-bottom: 20px;
}

.submit-link {
  display: inline-block;
  align-self: center;
  height: 100%;
  width: fit-content;
}

.my-modal {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #2875ba;
  position: fixed;
  margin: 5%;
  width: 50%;
  padding: 5%;
  padding-top: 0;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  right: auto;
  bottom: auto;
  margin-right: -50%;
  border-radius: 10px;
}

.close-modal-button {
  margin-right: -7%;
  align-self: flex-end;
  cursor: pointer;
}