form {
  display: flex;
}

.prompt-img {
  width: 40%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.custom-modal .panel-body,
.custom-modal .panel-title {
  word-break: normal;
  overflow-wrap: break-word;
}