.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-user {
  text-align: center;
  font-size: 3vh;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}