.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-user {
  text-align: center;
  font-size: 3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}