.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-left: 20px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome-msg {
  margin-right: 20px;
}