.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-left: 20px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome-msg {
  margin-right: 3vh;
  font-size: 2.2vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
}

.header-logo {
  width:15vw;
  height: 13vh;
}

.material-symbols-outlined {
  margin-right: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}