.feedback-container {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.feedback-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.verb-assigned {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: larger;
  margin: 0;
  font-size: medium;
  margin-left: 20vw;
  padding: 1vh;
  border: 1px solid #2D8CFF;
}

.verb {
  margin: 0;
  margin-left: 5px;
  font-size: larger;
  color: #2D8CFF;
}

.challenge-title {
  display: flex;
  align-items: center;
}

.sentence-feedback {
 border-radius: 6px;
 padding: 1vh;
}

.sentences-container {
  height: 60vh;
  width: 54vw;
  border-radius: 6px;
  padding: 2vw;
  overflow-y: scroll;
  box-shadow: 0 0 8px #ccc;
  background-color: aliceblue;
}

.feedback-section-title {
  background-color: lightyellow;
  width: fit-content;
}

.grammar-point {
  padding-bottom: 1vh;
  font-style: italic;
  border-bottom: 1px solid #2D8CFF;
}
.sentence {
  font-family: 'Roboto Mono', monospace;
}