.feedback-container {
  display: flex;
}

.prompt-img {
  width: 40%;
}

.sentences-container {
  background-color: #2875ba;
  color: white;
  border-radius: 10px;
  padding: 5vh;
}

.sentences-container h4 {
  border-width: 0px;
  padding-top: .5vh;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  border-top-width: 1px;
  border-color: white;
  border-style: solid;
}

.sentences-container h5 {
  margin: 0px;
  font-size: 1.75vh;
}

.sentences-container p {
  padding-left: 2vh;
}

