.dashboard {
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 2vh;
}

.past-challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
}